<div class="container" *ngIf="edu isLogged">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEst">Nombre de la institución</label>
                    <input type="text" class="form-control" name="nombreEst" id="nombreEst" [(ngModel)]="edu.nombreEst" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEst">estudios</label>
                    <input type="text" class="form-control" name="descripcionEst" id="descripcionEst" [(ngModel)]="edu.descripcionEst" required>
                </div>
                <div class="form-group">
                    <label for="urlImg">imagen</label>
                    <input type="file" class="form-control" name="urlImg" id="urlImg" [(ngModel)]="edu.urlImg">
                </div>
                <button class="btn btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>