<div *ngFor="let educacion of educaciones ">
    <div class="card">
        <div class="row g-0">
            <div class="col-3 col-md-4 d-flex" style=" background-color: rgb(29, 65, 136); justify-content: space-around">
                <img src={{educacion.img}} class="img-fluid rounded-start" style="width:360px; height: 135px;" alt="...">
              </div>
          <div class="col-9 col-md-8 d-flex" style="background-color: pink ;">
            <div class="card-body" style="background-color: rgb(139, 199, 243);" >
              <h5 class="card-title" style="font-size: 13px;">{{educacion.nombre_institucion}}</h5>
              <p class="card-text">{{educacion.carrera}}</p>
              <p class="card-text"><small class="text-muted"></small>{{educacion.periodo}}</p>
            </div>
          </div>
        </div>
      </div>
</div>