<section class="grid-container">
        <header class="background header">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            <a class="brand" href="#"><img src="./assets/APLogoRZ.png" alt="logo AP"></a>
                        <section class="buttons" >
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <button type="button" class="buttons LogIn__button" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                        <button type="button" class="buttons LogIn__button" (click)="logOut()" *ngIf="isLogged">Salir</button>
                    </section>
        </header>
    </section>