
<article class="grid-container__main">
    <div class="fondoBInfo">                                                           
        <button class="btn btn-primary d-block mx-auto" *ngIf="isLogged" routerLink="/editar-info/{{persona.id}}" routerLinkActive="router-link-active"  type="button">
            Modificar Datos
        </button>
    </div>
    <section class="info grid-container__bio">
        <figure class="grid__img">
            <img  src={{persona.img}} alt="" class="info__img">
            <p class="grid__parrafo-nombre p-centrado"> {{persona.nombre}} {{persona.apellido}}</p>
            <p class="grid__parrafo-titulo p-centrado">{{persona.categoria}}</p>
        </figure>
        <p class="grid__parrafo">{{persona.bio}}</p>
    </section>
</article>
